# Final Assignment 

1. Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.

2. Concrete Data:

For your convenience, the data can be found here again: https://cocl.us/concrete_data

. To recap, the predictors in the data of concrete strength include:

    Cement

    Blast Furnace Slag

    Fly Ash

    Water

    Superplasticizer

    Coarse Aggregate

    Fine Aggregate
    

3. Assignment Instructions:

Please check the My Submission tab for detailed assignment instructions.

4. How to submit:

You will need to submit your code for each part in a Jupyter Notebook. Since each part builds on the previous one, you can submit the same notebook four times for grading. Please make sure that you:

    use Markdown to clearly label your code for each part,

    properly comment your code so that your peer who is grading your work is able to understand your code easily,

    include your comments and discussion of the difference in the mean of the mean squared errors among the different parts.

# Load data

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [1]:
import pandas as pd
import numpy as np

In [2]:
import keras

from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [4]:
data = pd.read_csv('https://cocl.us/concrete_data')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
data.shape

(1030, 9)

In [6]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
cols = data.columns

predictors = data[cols[cols != 'Strength']] 
target = data['Strength']

# Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

In [8]:

def regression_model(n_cols):
    """Create the model."""
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))

    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [9]:
model = regression_model(predictors.shape[1])

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

## Split data

Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split

helper function from Scikit-learn.

In [11]:
pred_train, pred_test, target_train, target_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train the model

Train the model on the training data using 50 epochs.

In [12]:
model.fit(pred_train, target_train, validation_data=(pred_test, target_test), epochs=50)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 721 samples, validate on 309 samples
Epoch 1/50

2024-05-10 00:50:58.112931: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-05-10 00:50:58.118729: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394300000 Hz
2024-05-10 00:50:58.119289: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55e502061e70 executing computations on platform Host. Devices:
2024-05-10 00:50:58.119325: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-05-10 00:50:58.188689: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

721/721 [==============================] - 0s 403us/step - loss: 305682.0616 - val_loss: 225040.3024
Epoch 2/50
721/721 [==============================] - 0s 161us/step - loss: 177177.5752 - val_loss: 129392.8337
Epoch 3/50
721/721 [==============================] - 0s 222us/step - loss: 101652.2598 - val_loss: 73221.0332
Epoch 4/50
721/721 [==============================] - 0s 183us/step - loss: 57192.0919 - val_loss: 40466.8991
Epoch 5/50
721/721 [==============================] - 0s 94us/step - loss: 31657.5599 - val_loss: 22002.7211
Epoch 6/50
721/721 [==============================] - 0s 77us/step - loss: 17381.7479 - val_loss: 11857.6277
Epoch 7/50
721/721 [==============================] - 0s 76us/step - loss: 9547.6928 - val_loss: 6396.9408
Epoch 8/50
721/721 [==============================] - 0s 64us/step - loss: 5443.9054 - val_loss: 3671.9283
Epoch 9/50
721/721 [==============================] - 0s 75us/step - loss: 3365.5978 - val_loss: 2428.2957
Epoch 10/50
721/721 [==============================] - 0s 61us/step - loss: 2417.0467 - val_loss: 1861.1412
Epoch 11/50
721/721 [==============================] - 0s 116us/step - loss: 1970.1823 - val_loss: 1636.0070
Epoch 12/50
721/721 [==============================] - 0s 62us/step - loss: 1763.9810 - val_loss: 1542.7446
Epoch 13/50
721/721 [==============================] - 0s 73us/step - loss: 1667.9384 - val_loss: 1494.2197
Epoch 14/50
721/721 [==============================] - 0s 63us/step - loss: 1610.5605 - val_loss: 1462.0140
Epoch 15/50
721/721 [==============================] - 0s 72us/step - loss: 1568.2573 - val_loss: 1433.8119
Epoch 16/50
721/721 [==============================] - 0s 58us/step - loss: 1529.2825 - val_loss: 1403.1751
Epoch 17/50
721/721 [==============================] - 0s 57us/step - loss: 1492.0413 - val_loss: 1371.1824
Epoch 18/50
721/721 [==============================] - 0s 57us/step - loss: 1454.2098 - val_loss: 1339.9436
Epoch 19/50
721/721 [==============================] - 0s 57us/step - loss: 1417.0821 - val_loss: 1307.8880
Epoch 20/50
721/721 [==============================] - 0s 58us/step - loss: 1378.8780 - val_loss: 1276.2386
Epoch 21/50
721/721 [==============================] - 0s 57us/step - loss: 1343.5956 - val_loss: 1244.9017
Epoch 22/50
721/721 [==============================] - 0s 72us/step - loss: 1306.9303 - val_loss: 1210.4774
Epoch 23/50
721/721 [==============================] - 0s 61us/step - loss: 1268.3681 - val_loss: 1179.5523
Epoch 24/50
721/721 [==============================] - 0s 58us/step - loss: 1232.7753 - val_loss: 1148.3254
Epoch 25/50
721/721 [==============================] - 0s 67us/step - loss: 1199.0501 - val_loss: 1120.2612
Epoch 26/50
721/721 [==============================] - 0s 60us/step - loss: 1162.5092 - val_loss: 1085.3255
Epoch 27/50
721/721 [==============================] - 0s 57us/step - loss: 1127.7094 - val_loss: 1055.1755
Epoch 28/50
721/721 [==============================] - 0s 59us/step - loss: 1091.8149 - val_loss: 1027.0578
Epoch 29/50
721/721 [==============================] - 0s 69us/step - loss: 1056.4815 - val_loss: 996.0849
Epoch 30/50
721/721 [==============================] - 0s 56us/step - loss: 1022.4910 - val_loss: 964.3764
Epoch 31/50
721/721 [==============================] - 0s 59us/step - loss: 989.6993 - val_loss: 935.2692
Epoch 32/50
721/721 [==============================] - 0s 56us/step - loss: 957.7521 - val_loss: 906.1107
Epoch 33/50
721/721 [==============================] - 0s 62us/step - loss: 925.2129 - val_loss: 882.2399
Epoch 34/50
721/721 [==============================] - 0s 55us/step - loss: 892.6917 - val_loss: 851.8588
Epoch 35/50
721/721 [==============================] - 0s 56us/step - loss: 861.2876 - val_loss: 824.1785
Epoch 36/50
721/721 [==============================] - 0s 54us/step - loss: 830.7222 - val_loss: 797.7609
Epoch 37/50
721/721 [==============================] - 0s 55us/step - loss: 799.5443 - val_loss: 772.2106
Epoch 38/50
721/721 [==============================] - 0s 55us/step - loss: 771.2263 - val_loss: 747.9921
Epoch 39/50
721/721 [==============================] - 0s 56us/step - loss: 743.1675 - val_loss: 723.8343
Epoch 40/50
721/721 [==============================] - 0s 53us/step - loss: 715.7707 - val_loss: 699.9147
Epoch 41/50
721/721 [==============================] - 0s 58us/step - loss: 690.1961 - val_loss: 679.1219
Epoch 42/50
721/721 [==============================] - 0s 64us/step - loss: 664.5184 - val_loss: 656.0012
Epoch 43/50
721/721 [==============================] - 0s 54us/step - loss: 640.9674 - val_loss: 634.6060
Epoch 44/50
721/721 [==============================] - 0s 54us/step - loss: 618.0321 - val_loss: 613.0585
Epoch 45/50
721/721 [==============================] - 0s 46us/step - loss: 596.8381 - val_loss: 594.6802
Epoch 46/50
721/721 [==============================] - 0s 52us/step - loss: 576.0786 - val_loss: 577.3924
Epoch 47/50
721/721 [==============================] - 0s 54us/step - loss: 556.7419 - val_loss: 556.9987
Epoch 48/50
721/721 [==============================] - 0s 66us/step - loss: 538.5142 - val_loss: 541.6370
Epoch 49/50
721/721 [==============================] - 0s 54us/step - loss: 522.2013 - val_loss: 526.6276
Epoch 50/50
721/721 [==============================] - 0s 66us/step - loss: 505.3247 - val_loss: 511.0234

## Evaluate 

Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [13]:
mean_squared_error(target_train, model.predict(pred_train))

496.4444653575192

##  Repeat steps 1 - 3

Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [16]:
def experiment(x):
    model = regression_model(predictors.shape[1])
    pred_train, pred_test, target_train, target_test = train_test_split(predictors, target, test_size=0.3, random_state=42)
    model.fit(pred_train, target_train, validation_data=(pred_test, target_test), epochs=50, verbose=0)
    print("." if (x%10) != 0 else "+", end="")
    return mean_squared_error(target_train, model.predict(pred_train))

In [ ]:
mean_squared_errors = np.array([experiment(x) for x in range(50)])
mean_squared_errors

+.........+.........+.........+

## Report and submit 
Report the mean and the standard deviation of the mean squared errors.

Submit your Jupyter Notebook with your code and comments.

In [ ]:
mean_squared_errors.mean(), mean_squared_errors.std()